html, body {
	height: 100%;
}
body {
	background-color: #EEEEEE;
}
.container {
	position: relative;
	top: 20%;
}
#loginForm {
	width: 100%;
	max-width: 400px;
	padding: 30px;
	margin: auto;
	border: 2px solid #BBBBBB;
	border-radius: 10px;
}
h2 {
	margin-bottom: 30px;
}
.form-control {
	position: relative;
	height: auto;
	padding: 10px;
}
input {
	margin-top: 15px;
}
p {
	margin-top: 20px;
	font-weight: bold;
	color: red;
}