@import url("common.css");

table.table-bordered > tbody > tr > td {
	border: 1px solid #000000;
}
tr:hover {
	background-color: #CCCCCC;
}
.firstCol {
	text-align: right;
}
.button {
	margin: 5px;
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	border-radius: 20px;
}
.button:hover {
	border: 1px solid #000000;
}
